.container{
  padding: 2rem;
}
.categories{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.card{
  min-width: 10rem;
  max-width: 20rem;
}
.card img{
  width: 100%;
}
.poke-container{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.poke-card{
  min-width: 10rem;
  display: flex;
  flex-direction: column;
}
